<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.legovaer.alfred-opta-docs</string>
	<key>connections</key>
	<dict>
		<key>BA0F1293-0A15-462E-966E-7C84BCFBC501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BE7549-BF89-4E85-86DC-E30C0D797564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Levi Govaerts</string>
	<key>description</key>
	<string>An ultra-fast OPTA docs search workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OPTA Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>opta</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php opta.php "{query}"
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php opta.php "{query}"
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php opta.php "{query}"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the OPTA docs ...</string>
				<key>title</key>
				<string>OPTA</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA0F1293-0A15-462E-966E-7C84BCFBC501</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0BE7549-BF89-4E85-86DC-E30C0D797564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An ultra-fast OPTA docs search workflow for Alfred.

## Usage

To search the [OPTA docs](https://docs.opta.dev/), just type `opta` followed by your search query.

```
opta &lt;query&gt;
```

Either press `⌘Y` to Quick Look the result, or press `&lt;enter&gt;` to open it in your web browser.</string>
	<key>uidata</key>
	<dict>
		<key>A0BE7549-BF89-4E85-86DC-E30C0D797564</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>BA0F1293-0A15-462E-966E-7C84BCFBC501</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/legovaer/alfred-opta-docs</string>
</dict>
</plist>
